@import "../../themes/generated/variables.base.scss";

.add_btn {
    background-color: $base-accent;
    color: #fff;

    :hover {
        background-color: $base-accent
    }

    .dx-icon {
        color: #fff;
    }
}

.separator {
    height: 24px;
    width: 1px;
    background: #555557;

    .dx-toolbar-menu-section & {
        height: 1px;
        width: auto;
    }
}

.toolbar-header {
    font-size: 24px;
    font-weight: 400;
    padding-right: 25px;
}

.delete-content {
    font-size: 20px;
    font-weight: 400;
    padding-right: 25px;
}

.dx-command-edit {
    .dx-link {
        color: $base-accent;
        :hover {
            color: $base-accent
        }
    }
}