// @use "../../../variables.scss" as *;
@import "../../../themes/generated/variables.base.scss";

.form-popup .dx-toolbar-center {
  width: 100%;
}

.form-popup-buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--popup-toolbar-item-spacing);
  .dx-button-default {
    margin-left: 10px;
    background-color: $base-accent;
    :hover {
      background-color: $base-accent;
    }
  };
  &.flex-buttons {
    .dx-button {
      flex: 1;
    }
  }
}
